<div class="w-full p-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-8">
        <div>
            {{> admin/_teams teams=teams }}
        </div>
        <div>
            {{> admin/_drivers drivers=drivers }}
        </div>
        <div>
            <a href="/admin/races">
                <div class="bg-white p-4 rounded shadow-lg flex justify-center gap-4 items-center mb-8 hover:bg-blue-50 hover:scale-95 transition">
                    <p class="text-3xl font-bold">{{races.length}}</p>
                    <h3 class="text-xl font-semibold text-gray-700">Races</h3>
                </div>
            </a>
            <div>
                <a href="/admin/races/new" class="text-sm text-gray-600">
                    <div class="bg-white hover:bg-green-50 hover:scale-105 transition p-2 rounded shadow p-2 rounded mb-6">
                        + Add New Race
                    </div>
                </a>
                {{#each races}}
                    <a href="/admin/races/{{id}}" class="text-sm text-gray-600">
                        <div class="bg-white hover:bg-red-50 hover:scale-105 transition p-2 rounded shadow p-2 rounded mt-2 flex justify-between items-center gap-4">
                            <div class="flex items-center gap-2">
                                <img src="flags/{{flag}}" class="inline h-5" alt="flag={{flag}}">
                                <div class="font-bold text-nowrap">{{name}}</div>
                            </div>
                            <div class="overflow-hidden whitespace-nowrap text-ellipsis">{{formattedDate}}.</div>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
