<div data-username="{{username}}" class="rounded-lg bg-white p-2 border
     {{^isUserPrediction}}border-1 border-gray-100 shadow-xl{{/isUserPrediction}}
     {{#isUserPrediction}}border-[2px] border-red-900 border-opacity-70 shadow-md shadow-red-300{{/isUserPrediction}}">
    <div class="flex justify-between items-center mb-1">
        <span class="text-lg font-bold pl-4 {{#isUserPrediction}}text-red-900 text-opacity-90{{/isUserPrediction}}">
            {{username}}
        </span>
    </div>
    <div class="podium-slots grid grid-cols-3 items-end gap-2 mb-2 text-xs">
        <div class="col-span-1 h-14 flex flex-col items-center justify-center p-1 bg-gray-100 rounded-md">
            <div class="position-number font-bold text-gray-500">2nd</div>
            <div class="mx-[3px] inline-flex items-center text-sm font-bold rounded-lg inset-shadow inset-shadow-zinc-300
                        overflow-hidden border border-3 border-[{{second.color}}]">
                <span class="driver-identifier pl-3 pr-3 py-[1px] bg-[{{second.color}}] right-shadow">
                    <span class="driver-identifier text-white text-shadow">{{second.label}}</span>
                </span>
                {{#if second.points}}
                    <span class="predictionPoints hidden px-1 text-black text-opacity-90">
                        +{{second.points}}
                    </span>
                {{/if}}
            </div>
        </div>
        <div class="col-span-1 h-16 flex flex-col items-center justify-center p-1 bg-gray-100 rounded-md">
            <div class="position-number font-bold text-gray-500">1st</div>
            <div class="mx-[3px] inline-flex items-center text-sm font-bold rounded-lg inset-shadow inset-shadow-zinc-300
                        overflow-hidden border border-3 border-[{{first.color}}]">
                <span class="driver-identifier pl-3 pr-3 py-[1px] bg-[{{first.color}}] right-shadow">
                    <span class="driver-identifier text-white text-shadow">{{first.label}}</span>
                </span>
                {{#if first.points}}
                    <span class="predictionPoints hidden px-1 text-black text-opacity-90">
                        +{{first.points}}
                    </span>
                {{/if}}
            </div>
        </div>
        <div class="col-span-1 h-12 flex flex-col items-center justify-center p-1 bg-gray-100 rounded-md">
            <div class="position-number font-bold text-gray-500">3rd</div>
            <div class="mx-[3px] inline-flex items-center text-sm font-bold rounded-lg inset-shadow inset-shadow-zinc-300
                        overflow-hidden border border-3 border-[{{third.color}}]">
                <span class="driver-identifier pl-3 pr-3 py-[1px] bg-[{{third.color}}] right-shadow">
                    <span class="driver-identifier text-white text-shadow">{{third.label}}</span>
                </span>
                {{#if third.points}}
                    <span class="predictionPoints hidden px-1 text-black text-opacity-90">
                        +{{third.points}}
                    </span>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="max-w-[500px] m-auto bg-gray-100 pt-2 px-2 rounded-md text-xs">
        <div class="position-number font-bold text-center text-gray-500 pb-1">
            Top 10
        </div>
        <div class="gap-2 text-center">
            {{#others}}
                <div class="mx-[3px] inline-flex items-center text-sm font-bold rounded-lg inset-shadow inset-shadow-zinc-300
                            overflow-hidden border border-3 border-[{{color}}] mb-2">
                    <span class="driver-identifier pl-3 pr-3 py-[1px] bg-[{{color}}] right-shadow">
                        <span class="driver-identifier text-white text-shadow">{{label}}</span>
                    </span>
                    {{#if points}}
                        <span class="px-1 text-black text-opacity-90">
                            +{{points}}
                        </span>
                    {{/if}}
                </div>
            {{/others}}
        </div>
    </div>
</div>