<main class="container max-w-[700px] mx-auto px-4 py-6 flex-grow">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Leaderboard</h1>

    <div class="bg-white rounded-lg shadow-lg overflow-hidden shadow-gray-400">
        <div class="overflow-x-auto">
            <table class="min-w-full">
                <thead>
                <tr class="bg-red-900 bg-opacity-90 text-white border-b">
                    <th class="px-2 py-3 text-left text-xs text-center font-medium uppercase tracking-wider">
                        Rank
                    </th>
                    <th class="px-2 py-3 text-left text-xs text-center font-medium uppercase tracking-wider">
                        User
                    </th>
                    <th class="px-2 py-3 text-left text-xs text-center font-medium uppercase tracking-wider">
                        Total Points
                    </th>
                    <th class="px-2 py-3 text-left text-xs text-center font-medium uppercase tracking-wider">
                        Predictions
                    </th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                {{#leaderboard}}
                    <tr class="hover:bg-gray-50 transition-colors duration-150 {{#if isTied}}bg-gray-50{{/if}}">
                        <td class="px-2 py-2">
                            {{#if isTopThree}}
                                <div class="flex items-center mx-auto justify-center w-8 h-8 rounded-full {{rankBackgroundColor}} text-white font-bold">
                                    {{rank}}
                                </div>
                            {{else}}
                                <div class="text-gray-800 text-center font-medium">{{rank}}</div>
                            {{/if}}
                        </td>
                        <td class="px-2 py-2">
                            <div class="font-medium text-center text-gray-900">{{username}}</div>
                        </td>
                        <td class="px-2 py-2">
                            <div class="font-bold text-gray-900 text-center">{{totalPoints}}</div>
                        </td>
                        <td class="px-2 py-2">
                            <div class="text-gray-700 text-center">{{totalPredictions}}</div>
                        </td>
                    </tr>
                {{/leaderboard}}

                {{^leaderboard}}
                    <tr>
                        <td colspan="5" class="px-6 py-10 text-center text-gray-500">
                            No predictions have been made yet.
                        </td>
                    </tr>
                {{/leaderboard}}
                </tbody>
            </table>
        </div>
    </div>
</main>